.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  color: #FFF;
  background-color: #07793c;
  border-color: #e7b315;
}
.read-more-trigger:hover {
 
  background-color: #eec341;
  border-color: #eec341;
  color: #fff;
 
}

/* Other style */ 
 

 